@molb:registry=https://nexus.ship.gov.sg/repository/gobiz-npm-proxy/
//nexus.ship.gov.sg/repository/gobiz-npm-proxy/:always-auth=true
# SHIP does not allow global read access. So we must provide a token to install the packages in @molb scope.
# Sharing token is generally a bad practice. However we put it here to support the CI access for now.
# Will see is there a better solution based on SHIP's reply.

